{% extends "base.html" %}

  {% block includeFile %}
    <script type=text/javascript src="{{
            url_for('static', filename='tablesort.js') }}"></script> 
    <script type=text/javascript src="{{
            url_for('static', filename='bom.js') }}"></script> 
    <link rel="stylesheet" href="{{ url_for('static', filename="bom.css")}}">
    <link rel="stylesheet" href="{{ url_for('static', filename="font-awesome-4.6.2/css/font-awesome.min.css")}}">
    <script type=text/javascript src="{{
            url_for('static', filename='returnToBom.js') }}"></script> 
    

  {% endblock %}

  {% block title %}
  BOM  
  {% endblock %}

  {% block content %}

{% include 'header.html' %}

{% include 'dialog.html' %}

<!-- Flat button with ripple -->
<!-- FAB button with ripple -->
<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" id="addARecord">
  <i class="material-icons">+</i>
</button>
<div class="mdl-tooltip mdl-tooltip--large" for="addARecord">
增加一組資料
</div>

  {% if leaf_level %}
  <span style="font-size: 54px; position: absolute; margin-left: 5px;">
    <i class="fa fa-home"  id = "bomSummary"></i>
  </span>
  <div class="mdl-tooltip mdl-tooltip--large" for="bomSummary">
 加總表單
 </div>

  {% else %}

  {% endif %}



  {% if not_bom %}
  <span style="font-size: 54px; position: absolute; margin-left: 58px;">
    <i class="fa fa-list" aria-hidden="true" id = "backToBom"></i>
  </span>
  <div class="mdl-tooltip mdl-tooltip--large" for="backToBom">
 全部列表
 </div>

  {% else %}

  {% endif %}

{% include 'data_table2.html' %}



  {% endblock %}

