<table class="ui celled table">
  <thead>
    <tr><th>ID</th>
      <th>料號</th>
      <th>型號</th>
      <th>類型</th>
      <th>元件規格</th>
      <th>package</th>
      <th>數量(PCS)</th>
      <th>價格</th>
      <th>交期</th>
      <th>廠商</th>
      <th>存入日期</th>
      <th>領出日期</th>
      <th>備註</th>
  </tr></thead>
  <tbody>
    <tr>
      <td>
        <!--div class="ui ribbon label">First</div-->
        Cell
      </td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
    </tr>
    {% for i in range(10) %}
    <tr>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
    </tr>
    {% endfor %}
    <tr>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
    </tr>
  </tbody>
  <tfoot>
    <tr><th colspan="5">
      <div class="ui right floated pagination menu">
        <a class="icon item">
          <i class="left chevron icon"></i>
        </a>
        <a class="item">1</a>
        <a class="item">2</a>
        <a class="item">3</a>
        <a class="item">4</a>
        <a class="icon item">
          <i class="right chevron icon"></i>
        </a>
      </div>
    </th>
  </tr></tfoot>
</table>