<div class="ui form">
  <div class="required fields">
    <div class="eight wide field">
      <label>料號</label>
      <input type="text" placeholder="料號">
    </div>
    <div class="eight wide field">
      <label>型號</label>
      <input type="text" placeholder="型號">
    </div>
  </div>
  <div class="required fields">
    <div class="eight wide field">
      <label>類型</label>
      <input type="text" placeholder="類型">
    </div>
    <div class="eight wide field">
      <label>元件規格</label>
      <input type="text" placeholder="元件規格">
    </div>
  </div>
  <div class="required fields">
    <div class="eight wide field">
      <label>package</label>
      <input type="text" placeholder="package">
    </div>
    <div class="eight wide field">
      <label>數量(PCS)</label>
      <input type="number" min=1 placeholder="數量(PCS)">
    </div>
  </div>
  <div class="required fields">
    <div class="eight wide field">
      <label>價格</label>
      <input type="number" step="0.01" min=0 placeholder="價格">
    </div>
    <div class="eight wide field">
      <label>交期</label>
      <input type="text" id="daydeliver" placeholder="交期">
    </div>
  </div>
  <div class="required fields">
    <div class="eight wide field">
      <label>廠商</label>
      <input type="text" placeholder="廠商">
    </div>
    <div class="eight wide field">
      <label>存入日期</label>
      <input type="text" id="dayin" placeholder="存入日期">
    </div>
  </div>
  <div class="fields">
    <div class="required eight wide field">
      <label>領出日期</label>
      <input type="text" id="dayout" placeholder="領出日期">
    </div>
    <div class="eight wide field">
      <label>備註</label>
      <input type="text" placeholder="備註">
    </div>
  </div>

</div>