<table class="ui sortable celled table" id="bomTable">
  <thead>
    <tr><!--th>ID</th-->
      <th>移除</th>
      <th>料號</th>
      <th>型號</th>
      <th>類型</th>
      <th>元件規格</th>
      <th>package</th>
      <th>數量(PCS)</th>
      <th>價格</th>
      <th>交期</th>
      <th>廠商</th>
      <th>操作日期</th>
      <th>操作類型(存入/領出)</th>
      <th>備註</th>
  </tr></thead>
  <tbody>
    {% for i in range(data|length) %}
    <tr class = {{data[i]["_id"]}}>
      <td class="collapsing">
        <button class="ui red compact circular button delete_data" data_id = {{data[i]["_id"]}} >X</button>
        <!--button class="ui green compact circular button edit_data" data_id = {{data[i]["_id"]}} >E</button-->
      </td>
      <td>{{data[i]["pn"]}}</td>
      <td>{{data[i]["sn"]}}</td>
      <td>{{data[i]["type"]}}</td>
      <td>{{data[i]["spec"]}}</td>
      <td>{{data[i]["package"]}}</td>
      <td>{{data[i]["pcs"] }}</td>
      <td>{{data[i]["price"] + " " + data[i]["unit"]}}</td>
      <td>{{data[i]["deliver_day"]}}</td>
      <td>{{data[i]["company"]}}</td>
      <td>{{data[i]["dayop"]}}</td>
      <td>{{data[i]["operation_type"]}}</td>
      <td>{{data[i]["ps"]}}</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr><th colspan="13">
      <!--div class="ui right floated pagination menu">
        <a class="icon item">
          <i class="left chevron icon"></i>
        </a>
        <a class="item">1</a>
        <a class="item">2</a>
        <a class="item">3</a>
        <a class="item">4</a>
        <a class="icon item">
          <i class="right chevron icon"></i>
        </a>
      </div-->
    </th>
  </tr></tfoot>
</table>