<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
<!-- 料號 型號  類型  元件規格  package 數量(PCS) 價格  交期  廠商  存入日期  領出日期  備註-->
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Material</th>
      <th>料號</th>
      <th>型號</th>
      <th>類型</th>
      <th>元件規格</th>
      <th>package</th>
      <th>數量(PCS)</th>
      <th>價格</th>
      <th>交期</th>
      <th>廠商</th>
      <th>存入日期</th>
      <th>領出日期</th>
      <th>備註</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
      <td>25</td>
      <td>$2.90</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
      <td>50</td>
      <td>$1.25</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
      <td>10</td>
      <td>$2.35</td>
    </tr>
  </tbody>
</table>