{% extends "base.html" %}
  {% block includeFile %}
    <script type=text/javascript src="{{
            url_for('static', filename='tablesort.js') }}"></script> 
    <script type=text/javascript src="{{
            url_for('static', filename='summary.js') }}"></script> 
    <script type=text/javascript src="{{
            url_for('static', filename='returnToBom.js') }}"></script> 
    <link rel="stylesheet" href="{{ url_for('static', filename="font-awesome-4.6.2/css/font-awesome.min.css")}}">    
  {% endblock %}
 {% block content %}

    {% include 'header.html' %}


    {% include 'data_table_summary.html' %}


{% endblock %}